@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Press Start 2P";
    overflow: hidden;
}

body {
    background-image: url(./Images/6891814-pixel-wallpaper.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

header, footer {
    width: 100%;
    flex: 1;
    font-family: Nova Square;
    color: lightgray;
}

header {
    margin-bottom: 20px;

}

footer {
    margin-top: 20px;
}

 main {
    height: auto;
    width: 100%;
    flex: 30;
    display: flex;
}

h3 {
    margin: 20px;
}

canvas {
    background-color:#c4f0c2;

}

/* ============== */

.header-box{
    height: 100%;
    width: 100%;
    background-color: rgb(110, 110, 110);
    font-size: 1.2rem;
    padding: 3px;
    text-align: center;
}

.main-box {
    padding: 10px;
    display: flex;
    margin: 0 auto;
    width: auto;
    background-color: #5ab9a8;
    border: 20px solid #2d1b00;
    box-shadow: 0px 0px 15px 1px #0ff;
    border-radius: 50px;
}

.footer-box{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(110, 110, 110);
    font-size: 1.2rem;
    padding: 3px;
    text-align: center;
}

.game-field {
    flex: 2;
    border-left: 15px solid #5ab9a8;
    border-right: 15px solid #5ab9a8;
}

.sidebar {
    background-color: #1e606e;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
}

.sidebar-left {
    border-radius: 20px 0 0 20px;
}

.sidebar-right {
    border-radius: 0 20px 20px 0;
}

.info-box {
    border: 1px solid black;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.info-box p {
    font-size: 1.2rem;
    padding: 10px;

}

.empty-box {
    border: none;
    background: none;
    background-image: url(./Images/dragon.png);
}

.next-box {
    flex: 2;
}

.name-box {
    display: flex;
    justify-content: center;
}

#nameField {
    margin: 25%;
}



.btn-box {

    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/* BUTTON STYLING */
.btn {

    margin: 15px auto;
    border-radius: 20px;
    background-color: slategray;
    outline: none;
    border: none;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 9px rgb(74, 85, 95);
    font-size: 1.4rem;
}

.btn:active {
  box-shadow: 0 5px rgb(56, 66, 73);
  transform: translateY(4px);
  font-weight: 600;
}

.btn-start:hover {
    background-color: #4daa50;
}
.btn-start:active {
    background-color: #3e8e41;
  }

.btn-pause:hover {
    background-color: rgb(192, 138, 37);
}
.btn-pause:active {
    background-color: rgb(170, 112, 4);
}

.btn-reset:hover {
    background-color: rgb(165, 43, 43);
}

.btn-reset:active {
    background-color: rgb(141, 18, 18);
}
/* END BUTTON STYLING */

